@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 77, 40, 0;
  --background-start-rgb: 179, 231, 255;
  --background-end-rgb: 255, 255, 255;
}

[class="dark"]:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 51;
  --background-end-rgb: 05 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;
  padding-bottom: 2.5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

/* TextBanner style below */
.scroll-section {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scrollLeft var(--speed) linear infinite backwards;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* TextBanner style above */

/* Scrollbar style below */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Scrollbar style above */

/* ImageBanner style below */
.img-banner-scroll {
  position: relative;
  display: flex;
  width: full;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}

.img-banner-scroll div {
  white-space: nowrap;
  animation: img-scroll1 var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.img-banner-scroll div:nth-child(2) {
  animation: img-scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes img-scroll1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes img-scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.img-banner-scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.img-banner-scroll div span:hover {
  background: #3fd2f9;
  cursor: pointer;
}

.imgBox div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox img {
  max-width: 100px;
  scale: 0.8;
}
/* ImageBanner style above */

.terminal-outer-container {
  @apply bg-opacity-70 dark:bg-opacity-50 bg-amber-200 dark:bg-gray-900 p-2 rounded-lg border-2 border-indigo-950 dark:border-white;
}
.terminal-inner-container {
  @apply bg-opacity-70 dark:bg-opacity-50 bg-amber-100 dark:bg-gray-800 w-full p-5 rounded-md;
}
